<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
  <!--Anslutningsstrengen-->
  <connectionStrings>
    <add name="MemberRegistryConnectionString" connectionString="Data Source=172.16.214.1;Initial Catalog=Marco_ASK;User ID=appUser;Password=&quot;1Br@Lösen=rd?&quot;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <!--Tillåter JavaScript-->
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    
    <!--globalt felmeddelande vid serverfel, just nu av-->
    <customErrors defaultRedirect="~/Pages/Delade/Error.html" mode="Off">
    </customErrors>
  </system.web>
  
</configuration>